.footer {
   color: $lightTextColor;
   background-color: $mainBgColor;
   padding-top: toRem(100);
   padding-bottom: toRem(40);
   @media (max-width: toEm($mobile)) {
      padding-top: toRem(40);
      padding-bottom: toRem(20);
   }
   @media (max-width: toEm($mobileSmall)) {
      padding-top: toRem(30);
   }
   // .footer__container
   &__container {
   }
   // .footer__body
   &__body {
      display: flex;
      column-gap: toRem(40);
      padding-bottom: toRem(30);
      border-bottom: toRem(2) solid rgba(255, 255, 255, 0.1);
      &:not(:last-child) {
         margin-bottom: toRem(28);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(15);
         }
      }
      @media (max-width: toEm($mobile)) {
         margin-bottom: toRem(20);
         flex-wrap: wrap;
         justify-content: space-evenly;
         row-gap: toRem(30);
         column-gap: toRem(55);
      }
      @media (max-width: toEm($mobileSmall)) {
         padding-bottom: toRem(15);
      }
   }
   // .footer__nav
   &__nav {
   }
   // .footer__contact
   &__contact {
      margin-top: toRem(-40);
      flex-grow: 1;
      text-align: center;
      @media (max-width: toEm($mobile)) {
         order: -1;
         flex-basis: 100%;
         margin-top: 0;
      }
   }
   // .footer__title
   &__title {
      font-weight: 600;
      font-size: toRem(28);
      line-height: 162%;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: toRem(6);
      }
      @media (max-width: toEm($mobile)) {
         font-size: toRem(24);
      }
   }
   // .footer__text
   &__text {
      max-width: toRem(340);
      margin: 0 auto;
      &:not(:last-child) {
         margin-bottom: toRem(28);
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(15);
         }
      }
      @media (max-width: toEm($mobile)) {
         max-width: 100%;
      }
      p {
         font-weight: 500;
         line-height: 162%;
         color: rgba(255, 255, 255, 0.3);
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
         @media (max-width: toEm($mobileSmall)) {
            line-height: 133%;
         }
      }
   }
   // .footer__form
   &__form {
      max-width: toRem(345);
      margin: 0 auto;
      position: relative;
      @media (max-width: toEm($mobile)) {
         max-width: toRem(450);
      }
   }
   // .footer__input
   &__input {
      width: 100%;
      height: toRem(54);
      color: #ffffff;
      background-color: rgba(166, 166, 166, 0.05);
      border-radius: toRem(6);
      border: toRem(1.5) solid #ffffff;
      padding-left: toRem(20);
      padding-right: toRem(125);
      &:focus {
         outline: toRem(1.5) solid $accentColor;
         border: transparent;
      }
      &::placeholder {
         font-size: toRem(12);
         font-weight: 500;
         color: rgba(255, 255, 255, 0.3);
      }
   }
   // .footer__btn
   &__btn {
      position: absolute;
      top: 0;
      right: 0;
      min-width: toRem(108);
      height: toRem(54);
      background-color: $accentColor;
      padding: toRem(15) toRem(24);
      text-align: center;
      font-size: toRem(12);
      font-weight: 600;
      border-radius: toRem(6);
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $lightTextColor;
            color: $accentColor;
         }
      }
   }
   // .footer__copy
   &__copy {
      font-size: toRem(12);
      display: flex;
      flex-wrap: wrap;
      gap: toRem(15);
      align-items: center;
      justify-content: center;
      p {
         flex-grow: 1;
         text-align: center;
      }
   }
   // .footer__link-copy
   &__link-copy {
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accentColor;
         }
      }
   }
   // .footer__social
   &__social {
   }
}

.nav-footer {
   // .nav-footer__title
   &__title {
      font-weight: 600;
      font-size: toRem(22);
      line-height: 162%;
      &:not(:last-child) {
         margin-bottom: toRem(22);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(15);
         }
      }
      @media (max-width: toEm($mobile)) {
         font-size: toRem(20);
      }
      @media (max-width: toEm($mobileSmall)) {
         line-height: 133%;
      }
   }
   // .nav-footer__list
   &__list {
   }
   // .nav-footer__item
   &__item {
      &:not(:last-child) {
         margin-bottom: toRem(20);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .nav-footer__link
   &__link {
      line-height: 162%;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accentColor;
            text-decoration-color: inherit;
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         line-height: 133%;
      }
   }
}

.social {
   display: flex;
   flex-wrap: wrap;
   column-gap: toRem(24);
   row-gap: toRem(7);
   @media (max-width: toEm($mobileSmall)) {
      column-gap: toRem(15);
   }
   // .social__item
   &__item {
   }
   // .social__link
   &__link {
      width: toRem(30);
      height: toRem(22);
      transition: transform 0.3s;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.1);
         }
      }
      @media (max-width: toEm($mobileSmall)) {
         width: toRem(26);
         height: toRem(18);
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}
